*{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

.header{
    position: fixed;
    display: grid;
    height: 15vh;
    background-color: #fe5f2f;
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px black;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #d3d3d3;
    align-items: center;
    justify-content: center;
}

.botaoOpcao{
    height: 40vh;
    width: 40vh;
    margin: 15px;
    border: none;
    border-radius: 25px;
    background-color: #fe5f2f;
    box-shadow: 1px 1px gray;
}

button:hover{   
    background-color: orangered;
}

a{
    color: white;
    text-shadow: 1px 1px black;
}